%article.container
  %blockquote= locals[:quote]


-# %article.container
-#   %blockquote
-#     %strong Imagination
-#     is
-#     %em more important
-#     than
-#     %strong knowledge
-#   %b Einstein, A.
