%article.container
  %blockquote= locals[:quote]
  %center.fb-like{"data-action" => "like", "data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "false", "data-size" => "large"}
