!!! 5
%html{ lang: 'en' }
  %head
    %title Hedbergism - A single, random quote from Mitch Hedberg
    %meta{ charset: 'utf-8' }

    %link{ href: 'https://fonts.googleapis.com/css?family=Amatic+SC:700', rel: 'stylesheet' }

    %link{ href: '/style.css', rel: 'stylesheet' }

  %body
    = yield
